<a href="https://colab.research.google.com/github/tacinunesc/Geracao-tech-Unimed-BH/blob/main/Projeto_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto de Pandas para o bootcamp da Unimed BH

In [ ]:
#IMPORTANDO A BIBLIOTECA 
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [ ]:
#Visulizando as 5 primeiras linhas
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df = df.rename(columns={"housing_median_age":"habitação_mediana_idade", "population":"população", "households": "familias",
                   "median_income":"renda_mediana", "median_house_value":"valor_mediano_casas"})

In [ ]:
df.head(10)

,longitude,latitude,habitação_mediana_idade,total_rooms,total_bedrooms,população,familias,renda_mediana,valor_mediano_casas
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [ ]:
#Total de linhas e colunas
df.shape

(3000, 9)

In [ ]:
#Retornando colunas
df.columns

Index(['longitude', 'latitude', 'habitação_mediana_idade', 'total_rooms',
       'total_bedrooms', 'população', 'familias', 'renda_mediana',
       'valor_mediano_casas'],
      dtype='object')

In [ ]:
#Tipo de dados de cada coluna
df.dtypes

longitude                  float64
latitude                   float64
habitação_mediana_idade    float64
total_rooms                float64
total_bedrooms             float64
população                  float64
familias                   float64
renda_mediana              float64
valor_mediano_casas        float64
dtype: object

In [ ]:
#Retornar as ultimas linhas
df.tail()

,longitude,latitude,habitação_mediana_idade,total_rooms,total_bedrooms,população,familias,renda_mediana,valor_mediano_casas
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
#Retorna informações estatistica
df.describe()

,longitude,latitude,habitação_mediana_idade,total_rooms,total_bedrooms,população,familias,renda_mediana,valor_mediano_casas
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
#Filtro
df["familias"].unique()

array([ 606.,  277.,  495., ...,   92.,  607., 1036.])

In [ ]:
#Media
df["população"].mean()

1402.7986666666666

In [ ]:
#Soma
df["população"].sum()

4208396.0